*{
  font-family: Product-sans, sans-serif;
}
@font-face{
  font-family: "Product-sans";
  font-style: normal;
  font-weight: normal;
  src: 
   url("/fuente/Product\ Sans\ Regular.ttf") format(truetype) ;
}

.contenedor-primario{
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    grid-gap: 10px;
    height: 600px;
}

.contenedor-secundario{
    grid-column-start:2;
    grid-column-end: 3;
    grid-row-start: 2;
    grid-row-end: 3;  
    text-align: center;
    
}

.contenedor-botones{
  position: static;
}
.lupa{
  height: 20px;
  opacity: 0.3;
  position: relative;
  top: 40px;
  left: -75px;
}
.entrada{
  width: 500px;
  border-radius: 33px;
  border: 1px solid #f2f2f2;
  height: 42px;
  margin-bottom: 35px;
  
}
.boton-buscar{
  background-color: #f2f2f2;
  border-radius: 4px;
  border: 1px solid #f2f2f2;
  color: #5F6368;
  font-size: 14px;
  margin: 11px 4px;
  padding:  8px;
  line-height: 27px;
  height: 36px;
  opacity: 0.7;
}
.boton-suerte{
  background-color: #f2f2f2;
  border-radius: 4px;
  border: 1px solid #f2f2f2;
  color: #5F6368;
  font-size: 14px;
  margin: 11px 4px;
  padding: 8px;
  line-height: 27px;
  height: 36px;
  opacity: 0.7;
}
p{
  padding: 15px;
}
.idioma{
  color: blue;
}
.boton-suerte:hover{
 border-color:#5F6368 ;
 color: black;
 opacity: 0.8;
}
.boton-buscar:hover{
  border-color:#5F6368 ;
  color: black;
  opacity: 0.8;
 }
 .entrada:hover{
  border-color: #B3C0A4 ;
 }
 footer{
   display: inline;
 }
 .boton-footer{
  background-color: #f2f2f2;
  border-radius: 4px;
  border: 1px solid #f2f2f2;
  color: #5F6368;
  font-size: 14px;
  margin: 11px 4px;
  padding: 8px;
  line-height: 27px;
  height: 36px;
  opacity: 0.7;
 }
 .boton-footer:hover{
  text-decoration-line: underline;
  color: black;
  opacity: 0.8;
 }
 .pais-parrafo{
  background-color: #f2f2f2;
  border-radius: 4px;
  border: 1px solid #f2f2f2;
  color: #5F6368;
  font-size: 14px;
  margin: 11px 4px;
  padding: 8px;
  line-height: 27px;
  height: 36px;
  opacity: 0.7;
 }
 .idioma:hover{
  text-decoration-line: underline;
 }
 .whastapp{
   height: 60px;
   position: fixed;
   bottom: 80px;
   left:  900px;
 }
 .publicidad2{
   position: relative;
   bottom: 30px;
   left: 600px;
 }

